<div class="wrapped-container">
  <app-to-do-toolbar></app-to-do-toolbar>
  <div class="wrappedForm">
    <form [formGroup]="todoForm">
      <div style="display: flex">
        <mat-form-field class="example-full-width title-form-field">
          <mat-label>Title</mat-label>
          <input matInput appAlphanumericOnly formControlName="title" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div style="display: flex">
        <mat-form-field class="example-full-width description-field">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <div class="styled-button">
          <button class="mat-primary" mat-icon-button (click)="addItem()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
  <app-to-do-list></app-to-do-list>
</div>
