@if (user) {
  <div class="wrappedContainer" style="margin-top: 2rem">
    <mat-toolbar color="primary"
                 style="display: flex; width: 100%; justify-content: space-between; padding: 1rem; border-radius: 0.8rem 0.8rem 0 0">
      <h3>todo app - {{ user.email }}</h3>
      <mat-icon style="cursor: pointer" (click)="signOut()">logout</mat-icon>
    </mat-toolbar>
    <div class="container" style="padding: 1rem">
      <form style="display: flex; width: 100%;" [formGroup]="todoForm">
        <div style="display: flex; flex-direction: column; width: 100%">
          <div style="display: flex;">
            <mat-form-field style="display: block; width: 40%; margin-right: 10px" class="example-full-width">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput formControlName="date" [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div style="display: flex;">
            <mat-form-field style="display: flex; width: 100%" class="example-full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <div style="display: flex; height: auto; align-items: center; padding: 0 1rem 1rem 1rem">
              <button style="background-color: lightgray" class="mat-primary" mat-icon-button (click)="addItem()">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  <app-to-do-list [toDoItems]="toDoItems"></app-to-do-list>
  </div>
}
