mat-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.wrapped-container {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  border-radius: 0.8rem;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

button {
  background-color: lightgray;
}

.wrappedForm {
  padding: 1rem;
}

.title-form-field {
  display: block;
  width: 40%;
  margin-right: 10px;
}

.styled-button {
  display: flex;
  height: auto;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.description-field {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapped-container {
    margin: 0 auto;
  }
}
