@use '@angular/material' as mat;

$my-warn: mat.define-palette(mat.$red-palette);
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
