@use 'core';
@use 'all-components';

@include core.styles();
@include all-components.all-component-styles();

body {
  margin: 0 !important;
  background-color: ivory !important;
}

.cdk-overlay-pane {
  width: 600px !important;
}

.mdc-line-ripple::before {
  display: none;
}
